<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css')}}" type="text/css" />
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mystyle.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/croppic.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css')}}" type="text/css" />
  </head>

  <body>
    <div class="chat">
	  <div class="chat-title">
		<h1>{{ current_user.id }}</h1>
		<figure class="avatar">
		  <img src="static/mugshot/{{ mug_shot_title }}" />
		</figure>
        <i class="fa fa-cog" aria-hidden="true" onclick="CroppicEvent()"></i>
      </div>

	  <div class="messages">
		<div class="messages-content">
            {% for data in messages_list %}
                <div class="message new"><figure class="avatar"><img src="static/mugshot/{{ data.MugShot }}"   alt="{{ data.UserName }}" title="{{ data.UserName }}"></figure>{{ data.Messages }}<div class="timestamp">{{ data.CreateDate }}</div></div>
            {% endfor %}
        </div>
	  </div>
	  <div class="message-box">
		<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
		<button type="submit" class="message-submit">Send</button>
	  </div>
	</div>
	<div class="bg"></div>
    <div class="container">
        <!-- Croppic Modal -->
        <div class="modal fade" id="CroppicModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">上傳大頭照</h4>
                    </div>
                    <div class="modal-body">
                        <div style="margin: auto" id="imgID"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src='{{ url_for('static', filename='javascripts/jquery.min.js')}}'></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js'></script>
    <script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/plugins/croppic/croppic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/picture.js') }}"></script>
  </body>
</html>
