<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Room - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Chat Room</h1>
            <p>Example Use Flask</p>
        </div>
    </div>
    <form action="{{ url_for('login') }}" method="post" class="needs-validation" novalidate>
        <p class="text-danger">{{ error }}</p>
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
            <div class="invalid-feedback">Please enter a username.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
            <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" onclick="location.replace('/register')" class="btn btn-link">Register</button>
    </form>
</div>
<script>
    (function () {
        const form = document.querySelector('form.needs-validation');
        form.addEventListener('submit', (e) => {
            if (!form.checkValidity()) {
                e.preventDefault();
                e.stopPropagation();
            }
            form.classList.add('was-validated');
        });
    })();
</script>
</body>
</html>
