{% extends "base.html" %}

{% block title %}Chat Room - Register{% endblock %}

{% block body %}
<div class="container">
    <div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Register</h1>
            <p>Example Use Flask</p>
        </div>
    </div>
    <form action="{{ url_for('register') }}" method="POST" class="needs-validation" novalidate>
        <p>{{ error }}</p>
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
            <div class="invalid-feedback" id="usernameFeedback">Please enter a username.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
            <div class="invalid-feedback">Please enter a password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <button type="button" onclick="location.replace('/login')" class="btn btn-link">LOGIN</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascripts/register.js') }}"></script>
{% endblock %}
